.clock{
  font-family: 'Arial', san-serif;
  background: #000;
  color: #fff;
  .centertext{
    text-align: center;
  }
  .textuppercase{
    text-transform: uppercase;
  }
  .largetext{
    font-size: 4em;
  }
}
