.wmd-logo{
	font-family: 'WMD Logo';
	font-size: 4em;
	color: #444;
	display: block;
	position: absolute;
	left: 10px;
	top:10px;
	text-decoration: none;
}

.container {
	width: 320px;
	height: 200px;
	position: relative;
	perspective: 1000px;
	margin: 10% auto;
	
	#rect {
		width: 100%;
		height: 100%;
		position: absolute;
		transform-style: preserve-3d;
		transform: rotateY(45deg) rotateX(-15deg) rotateZ(-15deg) translateZ(100px);
		transition: transform 1s;
		figure {
			height: 92px;
			display: block;
			position: absolute;
			font-size: 2em;
			border: 2px solid #222;
			line-height: 98px;
			text-align: center;
			color: #222;
			&.w-four {
				width: 316px;
			}
			&.h-four {
				height: 316px;
			}
			&.w-two {
				width: 156px;
			}
			&.h-two {
				height: 156px;
			}
		}
		.top { 
			transform: rotateX( 90deg ) translateZ( 80px ); 
			transform-style: preserve-3d; 
			// opacity: 0.5;

			#knob-plate {				
				transform-origin: center center 30px;
				width: 316px;
				height: 156px;
				position: relative;
				transform-style: preserve-3d;
				transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateZ(0px);
				.knob{
					width: 78px;
					height: 78px;
					transform-style: preserve-3d;
					position: absolute;
					&.one{
						transform: translateX(238px);
					}
					&.two{
						transform: translateX(238px) translateY(78px);
					}
					&.three{
						transform: translateX(160px);
					}
					&.four{
						transform: translateX(160px) translateY(78px);
					}
					&.five{
						transform: translateX(82px);
					}
					&.six{
						transform: translateX(82px) translateY(78px);
					}
					&.seven{
						transform: translateX(4px);
					}
					&.eight{
						transform: translateX(4px) translateY(78px);
					}
					div{
						border: 4px solid #222;
						border-radius: 42px;
						height: 42px;
						width: 42px;
						position: absolute;
						top: 14px;
						left: 14px;
					}
					.slice-top {
						transform: translateZ(16px);
						background:#000; 
						span{
							font-size: 0.4em;
							color: #444;
							transform: rotate(-90deg);
							display: block;
							text-indent: 31px;
							font-style: italic;
							text-transform: uppercase;
						}
					}
					@for $i from 2 through 16{
						.slice-#{$i} {
							transform: translateZ( #{$i - 1}px );
						}
					}
				}
			}
		}
		.front { transform: rotateY( 0deg ) translateZ( 80px ); }
		.back { transform: rotateX( 180deg ) translateZ( 80px ); }
		.right { transform: rotateY( 90deg ) translateZ( 240px ); }
		.left { transform: rotateY( -90deg ) translateZ( 80px ); }
		.bottom { 
			transform: rotateX( -90deg ) translateZ( 16px ); 
			// opacity:0.5;
			
			#clutch-plate{
				width: 316px;
				height: 156px;
				position: relative;
				// background:#fff;
				.clutch{
						border: 4px solid #222;
						border-radius: 46px;
						height: 46px;
						width: 46px;
						position: absolute;
						&.one{
							top: 51px;
							left: 61px;
						}
						&.two{
							top: 51px;
							left: 133px;
						}
						&.three{
							top: 51px;
							right: 58px;
						}
				}
			}
		}
		.top, .front, .back, .right, .left, .bottom { background: #000; }

		&.show-front{ transform: translateZ( -100px ) rotateY(0deg ); }
		&.show-back { transform: translateZ( -100px ) rotateX( -180deg ); }
		&.show-right{ transform: translateZ( -100px ) rotateY(-90deg ); }
		&.show-left { transform: translateZ( -100px ) rotateY( 90deg ); }
		&.show-top{ transform: translateZ( -100px ) rotateX(-90deg ); }
		&.show-bottom { transform: translateZ( -100px ) rotateX( 90deg ); }
	}
}

/* Controls */
.controls{
display: block;
margin: 40px auto;
width: 465px;
	li{
		display: inline-block;
		list-style-type: none;
		width: 13%;
		text-align: center;
		a{
			display: block;
			border-radius: 1em;
			text-decoration: none;
			background: #444;
			color: #fff;
			line-height: 2em;
			cursor: pointer;
		}
	}
}