doctype html
html(lang="en" dir="ltr")

  head
    include partials/header.pug
    block head

  body
    include partials/menu.pug
    block content

    block footer
      include partials/footer.pug
