extends templates/html.pug

append head
  link(rel = "stylesheet" href = "css/demos/eightbit.css")

block title
  title 8-bit Mushroom - Wolfhound

block content
  div.position-bottom.mushroom-container.push-left
    div.mushroom
