extends templates/html.pug

append head
  link(rel = "stylesheet" href = "css/demos2.css")

block title
  title Demos - Wolfhound

block content
  ul
    li
      a(href="clock.html") Clock
    li
      a(href="8bit.html") 8-bit
