extends templates/html.jade

append head
  link(rel = "stylesheet" href = "css/demos2.css")

block title
  title Demos - Wolfhound

block body
  body.index
    block content
      div.rocket-container
        span.rocket.icon-rocket
